input[type="number"] {
  max-width: 80%;
}

.navbar-default .navbar-brand {
  font-weight: bold;
  color: #3A506B; 
  font-size: 100%; 
  background-color: #c3ccdb ;}
  
.navbar .navbar-nav {
  float: center; 
  color: #277facc8; 
  font-size: 90%; 
  background-color: #c3dbd9 ;
}
 .navbar.navbar-default.navbar-static-top{
   color: #ff3368; 
   font-size: 80%; 
   background-color: #c3dbd9;
 }
.navbar .navbar-header {
  float: center;
} 

div.map {
  color: black;
  font-weight: bold;
  font-size: x-large;
  position: fixed;
  top: 1%;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

div.modal {
  color: black;
  font-weight: normal;
  font-size: x-large;
  position: fixed;
  overflow: visible;
  box-sizing: border-box;
  padding: 1%;
  margin: 1em;
  margin: 1%;
}


/* Customize fonts 
title,body, label, input, button, select { 
  color: black;
  font-size: xx-large;
  font-weight: bold;
  font-family: 'Helvetica Neue', Helvetica;
}

h1, h2, h3, h4 { font-weight: 400; }

*/

#filters {
  /* Appearance */
  border: 10px solid #3A506B;
  font-size: xx-large;
  font-weight: bold;
  border-radius: 10px;
  padding: 0 10px 10px 10px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.85;
  /*zoom: 0.9;*/
  transition: opacity 500ms 1s;
  background-color:#9ec2e6;
}

#filters:hover {
  /* Fade in while hovering */
  opacity: 0.75;
  transition-delay: 0;
}


#plots {
  /* Appearance */
  border: 5px solid #3A506B;
  border-radius: 30px;
  background-color: #dcdcde;
  padding: 0 10px 10px 10px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.85;
  zoom: 0.9;
  transition: opacity 500ms 1s;

}
#plots:hover {
  /* Fade in while hovering */
  opacity: 0.75;
  transition-delay: 0;
}

#logo {
  /* Appearance */
  background-color: transparent;
  /*cursor: move;*/
  /* Fade out while not hovering */
  opacity: 0.7;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}

#logo:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}